footer

//JAVASCRIPT FRAMEWORKS

//__Built script containing all vendors such as JQuery
script(type='text/javascript', src="build/js/vendors.min.js")

//JAVASCRIPT CUSTOM
script(type='text/javascript', src="build/js/index.js")